header
    div#titulo
        h1 TEBEOS
        div
            label(for="chMenu") MENÚ
            input#chMenu(type="checkbox")
            nav
                ul
                    li
                        a(href="http://www.dccomics.com/") DC
                    li
                        a(href="http://marvel.com/") Marvel
                    li
                        a(href="http://www.manga.com/") Manga
                    li
                        a(href="http://www.edicionesb.com/catalogo/categoria/comics-y-novelas-graficas_15.html") Otros
    div#subTitulo
        h1 El Rincón de Diego
        figure
            img(src=ruta+"imagenes/logo.png")
