nav
    ul
        li.paginaActual Inicio
        li
            a(href="recursos/fotos.html") Fotos
        li
            a(href="recursos/quever.html") Qué ver
        li
            a(href="recursos/dormir.html") Dónde dormir
        li
            a(href="recursos/comer.html") Dónde comer
        li
            a(href="recursos/historia.html") Historia

