- var ruta= "../"
- var titulo= "La Broma Asesina"
doctype
html(lang="es")
    include ../plantillas/head.pug
    body
        include ../plantillas/cabecera.pug
        section.sectionPaginas
            figure
                a(href=ruta+"paginas/broma_asesina.html")
                    img(src=ruta+"imagenes/broma_asesina.jpg", alt="La Broma Asesina")
            h1 Batman: La Broma Asesina
            p La historieta comienza con la visita de Batman al manicomio Arkham para hablar con el Joker sobre su futuro y, así, intentar evitar que uno asesine al otro si continúan enfrentándose. Después de intentar razonar con el villano, Batman descubre que éste en realidad se ha fugado del hospital dejando un señuelo en su celda. Posteriormente a que el héroe decida iniciar su búsqueda del Joker se procede a mostrar cómo es que al escapar del manicomio decide adueñarse de un parque de atracciones asesinando a su dueño y parte de su origen a través de una serie de flashbacks que muestran los problemas financieros que tenía desempeñándose como cómico, por los cuales apenas podía mantener a su esposa embarazada.
            a(href="../../index.html") Volver a Principal...
        include ../plantillas/pie.pug