- var ruta= "../"
- var titulo= "Batman: Silencio"
doctype
html(lang="es")
    include ../plantillas/head.pug
    body
        include ../plantillas/cabecera.pug
        section.sectionPaginas
            figure
                a(href=ruta + "paginas/silencio.html")
                    img(src=ruta + "imagenes/silencio.jpg", alt="Silencio")
            h1 Batman: Silencio
            p Batman está rescatando a un niño secuestrado por Killer Croc, después de lo cual Catwoman roba el dinero del rescate. Mientras Batman se balancea a través de Gotham City en busca de ella, su cuerda es cortada y cae al suelo, fracturándose el cráneo. Su mayordomo, Alfred Pennyworth, sigue sus instrucciones para convocar a un amigo de la infancia de Bruce Wayne, Thomas Elliot, ahora un neurocirujano de renombre. Batman se recupera y descubre que Poison Ivy había utilizado a Catwoman para robar el dinero del rescate. Batman rescata a Catwoman, y un tenue romance florece entre ellos. Él decide finalmente confiar en Catwoman y le revela su identidad. Ambos siguen la pista de Poison Ivy hasta Metrópolis, donde descubren que Poison Ivy también ha tomado el control de Superman. Mediante el uso de un anillo de kryptonita que le confió Superman, Batman entretiene al Hombre de Acero mientras que Catwoman deja caer a Lois Lane del edificio del Daily Planet. Superman entra en razón y salva a Lois, y los superhéroes juntos capturan a Ivy Poison.
            a(href="../../index.html") Volver a Principal...
        include ../plantillas/pie.pug