- var ruta= "../"
doctype
html(lang="es")
    include ../plantillas/head.pug
    body
        include ../plantillas/cabecera.pug
        section.sectionPaginas
            figure
                a(href=ruta + "paginas/spiderman.html")
                    img(src=ruta + "imagenes/spiderman.jpg", alt="El Traje Alienígena")
            h1 Spiderman: El Traje Alienígena
            p Aunque originalmente fue feliz con Brock, porque Brock culpó a Spider-Man por sus fracasos, el simbionte se volvió gradualmente mucho más posesivo y abusivo de él, y al final fue vendido por Eddie. Más tarde se reveló que solo se pegó a él por el cáncer de las glándulas suprarrenales que padecía. Desde entonces, el traje Veneno se ha ido volviendo más y más monstruoso y psicótico. Actualmente está unido a Flash Thompson, que lucha por controlarlo, pero el simbionte ha demostrado recientemente estar desarrollando un poco de cariño leve hacia él.3 Esto sugeriría que el estado mental del huésped puede afectar al simbionte, tanto como a la inversa, ya que el simbionte Matanza es tan psicótico como su huésped y la explosividad del traje Veneno empeoró después de la unión de sus dos huéspedes después de Brock, ambos de los cuales eran criminales profesionales. Del mismo modo, los varios simbiontes unidos a héroes no han demostrado ser tan retorcidos, aunque de vez en cuando luchan con la agresión.
            a(href="../../index.html") Volver a Principal...
        include ../plantillas/pie.pug