- var ruta= "../"
doctype
html(lang="es")
    include ../plantillas/head.pug
    body
        include ../plantillas/cabecera.pug
        section.sectionPaginas
            figure
                a(href=ruta + "paginas/superman.html")
                    img(src=ruta + "imagenes/superman.jpg", alt="Unchained")
            h1 Superman: Unchained
            p El prólogo de la primera edición se lleva a cabo durante el bombardeo atómico de Nagasaki; la bomba lanzada en ese lugar en realidad fue un sobrehumano empleado por el Ejército de los EE.UU. Superman detiene 7 satélites que iban a chocar en la tierra, dejando que un octavo golpeara una base militar abandonada. Superman sospecha inicialmente que los lanzó Lex Luthor. Cuando Clark Kent redacta un artículo sobre el evento, Lois Lane le informa que los 8 satélites, no sólo 7, fueron detenidos. Superman investiga el sitio de impacto del octavo satélite, y se da cuenta de que un superhombre parecer había corregido la trayectoria del satélite. Después, un submarino había disparado torpedos a Superman, el General Lane revela estar trabajando en una instalación militar secreta, que alberga un sobrehumano que había estado al servicio de los Estados Unidos por casi 75 años.
            a(href="../../index.html") Volver a Principal...
        include ../plantillas/pie.pug