- var ruta= "../"
doctype
html(lang="es")
    include ../plantillas/head.pug
    body
        include ../plantillas/cabecera.pug
        section.sectionPaginas
            figure
                a(href=ruta + "paginas/xmen.html")
                    img(src=ruta + "imagenes/xmen.jpg", alt="La Canción del Verdugo")
            h1 X-Men: La Canción del Verdugo
            p Mientras Cable estuvo ausente, Stryfe aprovechó la situación, y haciéndose pasar por Cable, llevó a cabo un intento de asesinato contra el Profesor Charles Xavier, líder de los X-Men.12 Esto provocó que los X-Men y X-Factor arremetieran contra Fuerza-X e iniciaran una cacería de Cable. Finalmente Cable reapareció, y tras aclarar las cosas, viajó con los X-Men a la Luna, la base de Stryfe, quien también había capturado a Cíclope y Jean Grey. Cable combatió a Stryfe y aparentemente sacrificó su vida para destruirlo. Su victoria fue pírrica, pues Stryfe, antes de desaparecer, desató al terrible Virus Legado, una plaga contra los mutantes. Una vez más Cable se marchó hacia el futuro, dejando la incógnita en Cíclope, sobre cual de los dos era su hijo.
            a(href="../../index.html") Ir a principal
        include ../plantillas/pie.pug